#diceImg{

    width: 100px;
    height: 100px;
}

.title1{
    font-size: 45px;
}

.title2{
    font-size: 45px;
}

#scoreSpelare1{
    font-size: 25px;
    margin-top: 200px;
}

#scoreSpelare2{
    font-size: 25px;
    margin-top: 200px;
}

#player1div{
background-color: antiquewhite;
    width: 50%;
    height: 600px;
    text-align: center;

}

#player2div{

    background-color: lightblue;
    width: 50%;
    height: 600px;
    text-align: center;
}

#header{
    display: flex;
    
}