 /* Utseende för tärning */
#diceImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;

}

/* Spelare 1 text */
.title1{
    font-size: 45px;
}

/* Spelare 1 text */
.title2{
    font-size: 45px;
}

/* Spelare 1 resultat */
#scoreSpelare1{
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 25px;
    margin-top: 200px;
    background-color: burlywood;
    height: 125px;
    width: 225px;
    border-radius: 25px;
    padding-top: 15px;
    box-sizing: border-box;

}

/* Spelare 2 resultat */
#scoreSpelare2{
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 25px;
    margin-top: 200px;
    background-color: burlywood;
    height: 125px;
    width: 225px;
    border-radius: 25px;
    padding-top: 15px;
    box-sizing: border-box;
}

/* Spelare 1 bakgrund */
#player1div{
background-color: antiquewhite;
    width: 50%;
    height: 600px;
    text-align: center;

}
/* hsl(34, 62%, 80%) */
/* rgb(137, 187, 204) */
/* Spelare 2 bakgrund */
#player2div{
    background-color: lightblue;
    width: 50%;
    height: 600px;
    text-align: center;
}

/* Gör att båda spelar div är bredvid varandra */
#header{
    display: flex;
    
}

/* Kasta tärning */
#roll{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

}

/* Hålla alla kast  */
#hold{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Starta om resultatet */
#reset{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

}

/* Total hur många poäng från kast spelare 1 får */
#totalScoreSpelare1{
    font-size: 30px;
    display: inline-block;
    height: 50px;
    width: 200px;

}

/* Total hur många poäng från kast spelare 2 får */
#totalScoreSpelare2{
    font-size: 30px;
    display: inline-block;
    height: 50px;
    width: 200px;
}