#diceImg{
    width: 100px;
    height: 100px;
}

.title{
    width: 90%;
    height: 90%;
    font-size: 45px;
}

{
background-color: antiquewhite;
    width: 50%;
    height: 500px;
    text-align: center;

}

